<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #0275d8; /* Blue color */
            border-color: #0275d8; /* Adjust border color as well */
        }

            .navbar-inverse .navbar-brand,
            .navbar-inverse .navbar-nav > li > a {
                color: #ffffff; /* Ensuring text is white for better readability */
            }

                /* To change the hover and active link states */
                .navbar-inverse .navbar-nav > li > a:hover,
                .navbar-inverse .navbar-nav > li > a:focus {
                    color: #cce6ff; /* Lighter blue for hover/focus states */
                }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="
                 
                 
                 
                 ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kpante Electronique", "Acceuil", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Panier", "ViewCart", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kpante Companies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
